## 1- import and reading data

In [1]:
import sys
sys.path.append('../../../scripts/utilities')
from helper_functions import *
sys.path.append('../../../scripts/data_preprocessing')
from data_cleaning import *

In [2]:
base_path = '../../../data/raw_data/'
raw_dfs_merged = read_files('raw_dfs_merged.csv', base_path=base_path)[0]

## 2- handle missing values

**2.1**  Deleting the entire column with many missing value
**2.2**  Imputing the Missing Value

<span style="color:orange">2.1- Deleting the entire column </span>
>when:
 >>1 - missing value in type Missing At Random (MAR) or Missing Completely At Random (MCAR)
 >>2- column has many missing value

In [3]:
threshold_percentage = 50
raw_dfs_merged_columns_to_drop = extract_columns_by_threshold(raw_dfs_merged, threshold_percentage)
raw_dfs_merged = raw_dfs_merged.drop(columns=raw_dfs_merged_columns_to_drop)
raw_dfs_merged.shape

(10175, 377)

<span style="color:orange">2.2- Imputing the Missing Value </span>
>when:
 >>1 - missing value in type Missing Not At Random (MNAR) in this case (In the cells that used compounds 7 and 9, they express this type)
 >>2- Cells that were not removed by applying threshold in the previous step

__2.2.1 imputing by median(numerical features) and mod(categorical features)__

In [4]:
numerical_columns = extract_numerical_columns(raw_dfs_merged)
numerical_features=[column for column in numerical_columns if column not in ['MCQ160L','MCQ220','SEQN']]
numerical_features[:10]

['SDDSRVYR',
 'RIDSTATR',
 'RIAGENDR',
 'RIDAGEYR',
 'RIDRETH1',
 'RIDRETH3',
 'RIDEXMON',
 'DMQMILIZ',
 'DMDBORN4',
 'DMDCITZN']

In [5]:
categorical_columns = extract_categorical_columns(raw_dfs_merged)
categorical_columns[:10]

['OHX02CTC',
 'OHX03CTC',
 'OHX04CTC',
 'OHX05CTC',
 'OHX06CTC',
 'OHX07CTC',
 'OHX08CTC',
 'OHX09CTC',
 'OHX10CTC',
 'OHX11CTC']

-- imputing numerical columns

In [7]:
df_imp1 = replace_repeating_sequence(raw_dfs_merged, numerical_features, strategy='median', sequence_values=[7, 9])
df_imp1 = statistical_imputer(df_imp1, numerical_features)
df_imp1 = constant_imputer(df_imp1, ['MCQ160L','MCQ220'],0)
df_imp1 = replace_target_repeating_sequence_with_constant(df_imp1, ['MCQ160L','MCQ220'],0,sequence_values=[7, 9])
df_imp1.head(20)

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,DMQMILIZ,DMDBORN4,...,LBDBSELC,LBXBMN,LBDBMNSI,LBDBMNLC,URXVOL1,URDFLOW1,LBDB12,LBDB12SI,MCQ160L,MCQ220
0,73557,8.0,2.0,1.0,69.0,4.0,4.0,1.0,1.0,1.0,...,0.0,9.89,180.00,0.0,87.0,0.821,524.0,386.7,2.0,2.0
1,73558,8.0,2.0,1.0,54.0,3.0,3.0,1.0,2.0,1.0,...,0.0,8.15,148.33,0.0,90.0,1.636,507.0,374.2,2.0,2.0
2,73559,8.0,2.0,1.0,72.0,3.0,3.0,2.0,1.0,1.0,...,0.0,9.57,174.17,0.0,66.0,0.647,732.0,540.2,2.0,1.0
3,73560,8.0,2.0,1.0,26.0,3.0,3.0,1.0,2.0,1.0,...,0.0,13.07,237.87,0.0,61.0,0.575,514.0,379.3,0.0,0.0
4,73561,8.0,2.0,2.0,73.0,3.0,3.0,1.0,2.0,1.0,...,0.0,9.89,180.00,0.0,5.0,0.109,225.0,166.1,2.0,2.0
5,73562,8.0,2.0,1.0,56.0,1.0,1.0,1.0,1.0,1.0,...,0.0,13.99,254.62,0.0,197.0,1.187,750.0,553.5,2.0,2.0
6,73563,8.0,2.0,1.0,0.0,3.0,3.0,2.0,2.0,1.0,...,0.0,9.89,180.00,0.0,86.0,0.647,514.0,379.3,0.0,0.0
7,73564,8.0,2.0,2.0,61.0,3.0,3.0,2.0,2.0,1.0,...,0.0,16.80,305.76,0.0,21.0,0.236,668.0,493.0,2.0,2.0
8,73565,8.0,1.0,1.0,42.0,2.0,2.0,2.0,2.0,1.0,...,0.0,9.89,180.00,0.0,86.0,0.647,514.0,379.3,2.0,2.0
9,73566,8.0,2.0,2.0,56.0,3.0,3.0,1.0,2.0,1.0,...,0.0,9.89,180.00,0.0,157.0,2.492,378.0,279.0,2.0,2.0
10,73567,8.0,2.0,1.0,65.0,3.0,3.0,2.0,2.0,1.0,...,0.0,7.22,131.40,0.0,58.0,0.558,194.0,143.2,2.0,2.0
11,73568,8.0,2.0,2.0,26.0,3.0,3.0,2.0,2.0,1.0,...,0.0,9.89,180.00,0.0,278.0,3.432,528.0,389.7,2.0,2.0
12,73569,8.0,1.0,2.0,0.0,5.0,3.0,2.0,2.0,1.0,...,0.0,9.89,180.00,0.0,86.0,0.647,514.0,379.3,0.0,0.0
13,73570,8.0,2.0,2.0,26.0,5.0,3.0,1.0,2.0,1.0,...,0.0,9.89,180.00,0.0,70.0,0.493,514.0,379.3,0.0,0.0
14,73571,8.0,2.0,1.0,76.0,3.0,3.0,1.0,2.0,1.0,...,0.0,9.89,180.00,0.0,57.0,0.331,421.0,310.7,2.0,1.0
15,73572,8.0,2.0,2.0,10.0,4.0,4.0,1.0,2.0,1.0,...,0.0,6.57,119.57,0.0,52.0,0.464,514.0,379.3,0.0,0.0
16,73573,8.0,2.0,1.0,10.0,4.0,4.0,1.0,2.0,1.0,...,0.0,9.89,180.00,0.0,86.0,0.647,514.0,379.3,0.0,0.0
17,73574,8.0,2.0,2.0,33.0,5.0,6.0,1.0,2.0,2.0,...,0.0,9.89,180.00,0.0,61.0,0.462,335.0,247.2,2.0,2.0
18,73575,8.0,2.0,1.0,1.0,4.0,4.0,1.0,2.0,1.0,...,0.0,7.50,136.50,0.0,86.0,0.647,514.0,379.3,0.0,0.0
19,73576,8.0,2.0,1.0,16.0,4.0,4.0,2.0,2.0,1.0,...,0.0,9.89,180.00,0.0,98.0,0.676,514.0,379.3,0.0,0.0

-- imputing categorical columns

In [8]:
df_imp2 = statistical_imputer(df_imp1, categorical_columns, strategy='most_frequent')
df_imp2.head(10)

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,DMQMILIZ,DMDBORN4,...,LBDBSELC,LBXBMN,LBDBMNSI,LBDBMNLC,URXVOL1,URDFLOW1,LBDB12,LBDB12SI,MCQ160L,MCQ220
0,73557,8.0,2.0,1.0,69.0,4.0,4.0,1.0,1.0,1.0,...,0.0,9.89,180.00,0.0,87.0,0.821,524.0,386.7,2.0,2.0
1,73558,8.0,2.0,1.0,54.0,3.0,3.0,1.0,2.0,1.0,...,0.0,8.15,148.33,0.0,90.0,1.636,507.0,374.2,2.0,2.0
2,73559,8.0,2.0,1.0,72.0,3.0,3.0,2.0,1.0,1.0,...,0.0,9.57,174.17,0.0,66.0,0.647,732.0,540.2,2.0,1.0
3,73560,8.0,2.0,1.0,26.0,3.0,3.0,1.0,2.0,1.0,...,0.0,13.07,237.87,0.0,61.0,0.575,514.0,379.3,0.0,0.0
4,73561,8.0,2.0,2.0,73.0,3.0,3.0,1.0,2.0,1.0,...,0.0,9.89,180.00,0.0,5.0,0.109,225.0,166.1,2.0,2.0
5,73562,8.0,2.0,1.0,56.0,1.0,1.0,1.0,1.0,1.0,...,0.0,13.99,254.62,0.0,197.0,1.187,750.0,553.5,2.0,2.0
6,73563,8.0,2.0,1.0,0.0,3.0,3.0,2.0,2.0,1.0,...,0.0,9.89,180.00,0.0,86.0,0.647,514.0,379.3,0.0,0.0
7,73564,8.0,2.0,2.0,61.0,3.0,3.0,2.0,2.0,1.0,...,0.0,16.80,305.76,0.0,21.0,0.236,668.0,493.0,2.0,2.0
8,73565,8.0,1.0,1.0,42.0,2.0,2.0,2.0,2.0,1.0,...,0.0,9.89,180.00,0.0,86.0,0.647,514.0,379.3,2.0,2.0
9,73566,8.0,2.0,2.0,56.0,3.0,3.0,1.0,2.0,1.0,...,0.0,9.89,180.00,0.0,157.0,2.492,378.0,279.0,2.0,2.0

## 3- save after dealing with missing values

In [9]:
save_files([df_imp2], 'df_filling_missing_values_with_median.csv', base_path='../../../data/processed_data/')