**The primary objective of this data integration process is to combine and merge datasets based on a  column named SEQN. By integrating the data, we aim to create a comprehensive dataset that includes information from multiple sources.**

## 1- import and reading data

In [1]:
import sys
sys.path.append('../../../scripts/')
from utilities.helper_functions import *
from data_preprocessing.data_cleaning import *
from data_preprocessing.data_integration import *

In [2]:
base_path = '../../../data/raw_data'
data_frames= read_files('demographic.csv', 'diet.csv', 'examination.csv', 'labs.csv','questionnaire.csv', base_path=base_path)

## 2-  join  dataframes based on same column

In [3]:
raw_dfs_merged = merge_dataframes(data_frames, "SEQN", 'outer')
raw_dfs_merged.head(5)

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12,LBDB12SI,MCQ160L,MCQ220
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,524.0,386.7,2.0,2.0
1,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,507.0,374.2,2.0,2.0
2,73559,8,2,1,72,NaN,3,3,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,732.0,540.2,2.0,1.0
3,73560,8,2,1,9,NaN,3,3,1.0,119.0,...,0.238,0.0,0.0071,0.0,NaN,3.83,NaN,NaN,NaN,NaN
4,73561,8,2,2,73,NaN,3,3,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,225.0,166.1,2.0,2.0

## 3-  save merged dataframe

In [4]:
save_files([raw_dfs_merged],'raw_dfs_merged.csv', base_path=base_path)