## 1- import and reading data

In [1]:
import sys
sys.path.append('../../scripts/utilities/')
from helper_functions import read_files

In [2]:
df_columnDefinitions, df_demographic, df_diet, df_examination , df_labs, df_questionnaire= \
    read_files('ColumnDefinitions.xlsx', 'demographic.csv','diet.csv','examination.csv','labs.csv','questionnaire.csv')

## 2- data understanding

**2.1** Dataframe shape
**2.2** head
**2.3** dtypes
**2.4** describe
**2.5** check missing values
**2.6** check duplicates

<span style="color:orange">2.1- Dataframe shape</span>

In [3]:
datasets = [df_columnDefinitions, df_demographic, df_diet, df_examination, df_labs, df_questionnaire]
dataset_names = ['ColumnDefinitions', 'demographic', 'diet', 'examination', 'labs', 'questionnaire']

for name, df in zip(dataset_names, datasets):
    print(f"{name}: {df.shape}")

ColumnDefinitions: (5383, 2)
demographic: (10175, 47)
diet: (9813, 168)
examination: (9813, 224)
labs: (9813, 424)
questionnaire: (10175, 3)

<span style="color:orange">2.2- head</span>

In [4]:
print(f"ColumnDefinitions: \n {df_columnDefinitions.head(5)}")

ColumnDefinitions:
   Variable Name                               Variable Description
0          SEQN                        Respondent sequence number.
1      RIDSTATR  Interview and examination status of the partic...
2      RIAGENDR                         Gender of the participant.
3      RIDAGEYR  Age in years of the participant at the time of...
4      RIDAGEMN  Age in months of the participant at the time o...

In [5]:
print(f"demographic: \n {df_demographic.head(5)}")

demographic:
     SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0  73557         8         2         1        69       NaN         4
1  73558         8         2         1        54       NaN         3
2  73559         8         2         1        72       NaN         3
3  73560         8         2         1         9       NaN         3
4  73561         8         2         2        73       NaN         3

   RIDRETH3  RIDEXMON  RIDEXAGM  ...  DMDHREDU  DMDHRMAR  DMDHSEDU  \
0         4       1.0       NaN  ...       3.0       4.0       NaN
1         3       1.0       NaN  ...       3.0       1.0       1.0
2         3       2.0       NaN  ...       4.0       1.0       3.0
3         3       1.0     119.0  ...       3.0       1.0       4.0
4         3       1.0       NaN  ...       5.0       1.0       5.0

       WTINT2YR      WTMEC2YR  SDMVPSU  SDMVSTRA  INDHHIN2  INDFMIN2  INDFMPIR
0  13281.237386  13481.042095        1       112       4.0       4.0      0.84
1  23682.057386  24471.769625        1       108       7.0       7.0      1.78
2  57214.803319  57193.285376        1       109      10.0      10.0      4.51
3  55201.178592  55766.512438        2       109       9.0       9.0      2.52
4  63709.667069  65541.871229        2       116      15.0      15.0      5.00

[5 rows x 47 columns]

In [6]:
print(f"diet: \n {df_diet.head(5)}")

diet:
     SEQN         WTDRD1         WTDR2D  DR1DRSTZ  DR1EXMER  DRABF  DRDINT  \
0  73557   16888.327864   12930.890649         1      49.0    2.0     2.0
1  73558   17932.143865   12684.148869         1      59.0    2.0     2.0
2  73559   59641.812930   39394.236709         1      49.0    2.0     2.0
3  73560  142203.069917  125966.366442         1      54.0    2.0     2.0
4  73561   59052.357033   39004.892993         1      63.0    2.0     2.0

   DR1DBIH  DR1DAY  DR1LANG  ...  DRD370QQ  DRD370R  DRD370RQ  DRD370S  \
0      6.0     2.0      1.0  ...       NaN      NaN       NaN      NaN
1      4.0     1.0      1.0  ...       NaN      2.0       NaN      2.0
2     18.0     6.0      1.0  ...       NaN      NaN       NaN      NaN
3     21.0     3.0      1.0  ...       NaN      NaN       NaN      NaN
4     18.0     1.0      1.0  ...       NaN      2.0       NaN      2.0

   DRD370SQ  DRD370T  DRD370TQ  DRD370U  DRD370UQ  DRD370V
0       NaN      NaN       NaN      NaN       NaN      NaN
1       NaN      2.0       NaN      2.0       NaN      2.0
2       NaN      NaN       NaN      NaN       NaN      NaN
3       NaN      NaN       NaN      NaN       NaN      NaN
4       NaN      2.0       NaN      2.0       NaN      2.0

[5 rows x 168 columns]

In [7]:
print(f"examination: \n {df_examination.head(5)}")

examination:
     SEQN  PEASCST1  PEASCTM1  PEASCCT1  BPXCHR  BPAARM  BPACSZ  BPXPLS  \
0  73557         1     620.0       NaN     NaN     1.0     4.0    86.0
1  73558         1     766.0       NaN     NaN     1.0     4.0    74.0
2  73559         1     665.0       NaN     NaN     1.0     4.0    68.0
3  73560         1     803.0       NaN     NaN     1.0     2.0    64.0
4  73561         1     949.0       NaN     NaN     1.0     3.0    92.0

   BPXPULS  BPXPTY  ...  CSXLEAOD  CSXSOAOD  CSXGRAOD  CSXONOD  CSXNGSOD  \
0      1.0     1.0  ...       2.0       1.0       1.0      1.0       4.0
1      1.0     1.0  ...       3.0       1.0       2.0      3.0       4.0
2      1.0     1.0  ...       2.0       1.0       2.0      3.0       4.0
3      1.0     1.0  ...       NaN       NaN       NaN      NaN       NaN
4      1.0     1.0  ...       3.0       1.0       4.0      3.0       4.0

   CSXSLTRT  CSXSLTRG  CSXNART  CSXNARG  CSAEFFRT
0      62.0       1.0      NaN      NaN       1.0
1      28.0       1.0      NaN      NaN       1.0
2      49.0       1.0      NaN      NaN       3.0
3       NaN       NaN      NaN      NaN       NaN
4       NaN       NaN      NaN      NaN       1.0

[5 rows x 224 columns]

In [8]:
print(f"labs: \n {df_labs.head(5)}")

labs:
     SEQN  URXUMA  URXUMS  URXUCR.x   URXCRS  URDACT     WTSAF2YR.x  LBXAPB  \
0  73557     4.3     4.3      39.0   3447.6   11.03            NaN     NaN
1  73558   153.0   153.0      50.0   4420.0  306.00            NaN     NaN
2  73559    11.9    11.9     113.0   9989.2   10.53  142196.890197    57.0
3  73560    16.0    16.0      76.0   6718.4   21.05            NaN     NaN
4  73561   255.0   255.0     147.0  12994.8  173.47  142266.006548    92.0

   LBDAPBSI  LBXSAL  ...  URXUTL  URDUTLLC  URXUTU  URDUTULC  URXUUR  \
0       NaN     4.1  ...     NaN       NaN     NaN       NaN     NaN
1       NaN     4.7  ...     NaN       NaN     NaN       NaN     NaN
2      0.57     3.7  ...     NaN       NaN     NaN       NaN     NaN
3       NaN     NaN  ...   0.062       0.0   0.238       0.0  0.0071
4      0.92     4.3  ...     NaN       NaN     NaN       NaN     NaN

   URDUURLC  URXPREG  URXUAS  LBDB12  LBDB12SI
0       NaN      NaN     NaN   524.0     386.7
1       NaN      NaN     NaN   507.0     374.2
2       NaN      NaN     NaN   732.0     540.2
3       0.0      NaN    3.83     NaN       NaN
4       NaN      NaN     NaN   225.0     166.1

[5 rows x 424 columns]

In [9]:
print(f"questionnaire: \n {df_questionnaire.head(5)}")

questionnaire:
     SEQN  MCQ160L  MCQ220
0  73557      2.0     2.0
1  73558      2.0     2.0
2  73559      2.0     1.0
3  73560      NaN     NaN
4  73561      2.0     2.0

<span style="color:orange">2.3- dtypes</span>

In [10]:
print(f"demographic: \n {df_demographic.dtypes}")

demographic:
 SEQN          int64
SDDSRVYR      int64
RIDSTATR      int64
RIAGENDR      int64
RIDAGEYR      int64
RIDAGEMN    float64
RIDRETH1      int64
RIDRETH3      int64
RIDEXMON    float64
RIDEXAGM    float64
DMQMILIZ    float64
DMQADFC     float64
DMDBORN4      int64
DMDCITZN    float64
DMDYRSUS    float64
DMDEDUC3    float64
DMDEDUC2    float64
DMDMARTL    float64
RIDEXPRG    float64
SIALANG       int64
SIAPROXY    float64
SIAINTRP      int64
FIALANG     float64
FIAPROXY    float64
FIAINTRP    float64
MIALANG     float64
MIAPROXY    float64
MIAINTRP    float64
AIALANGA    float64
DMDHHSIZ      int64
DMDFMSIZ      int64
DMDHHSZA      int64
DMDHHSZB      int64
DMDHHSZE      int64
DMDHRGND      int64
DMDHRAGE      int64
DMDHRBR4    float64
DMDHREDU    float64
DMDHRMAR    float64
DMDHSEDU    float64
WTINT2YR    float64
WTMEC2YR    float64
SDMVPSU       int64
SDMVSTRA      int64
INDHHIN2    float64
INDFMIN2    float64
INDFMPIR    float64
dtype: object

In [11]:
print(f"diet: \n {df_diet.dtypes}")

diet:
 SEQN          int64
WTDRD1      float64
WTDR2D      float64
DR1DRSTZ      int64
DR1EXMER    float64
             ...
DRD370T     float64
DRD370TQ    float64
DRD370U     float64
DRD370UQ    float64
DRD370V     float64
Length: 168, dtype: object

In [12]:
print(f"examination: \n {df_examination.dtypes}")

examination:
 SEQN          int64
PEASCST1      int64
PEASCTM1    float64
PEASCCT1    float64
BPXCHR      float64
             ...
CSXSLTRT    float64
CSXSLTRG    float64
CSXNART     float64
CSXNARG     float64
CSAEFFRT    float64
Length: 224, dtype: object

In [13]:
print(f"labs: \n {df_labs.dtypes}")

labs:
 SEQN          int64
URXUMA      float64
URXUMS      float64
URXUCR.x    float64
URXCRS      float64
             ...
URDUURLC    float64
URXPREG     float64
URXUAS      float64
LBDB12      float64
LBDB12SI    float64
Length: 424, dtype: object

In [14]:
print(f"questionnaire: \n {df_questionnaire.dtypes}")

questionnaire:
 SEQN         int64
MCQ160L    float64
MCQ220     float64
dtype: object

In [15]:
print(f"questionnaire: \n {df_questionnaire.dtypes}")

questionnaire:
 SEQN         int64
MCQ160L    float64
MCQ220     float64
dtype: object

<span style="color:orange">2.4- describe</span>

In [16]:
df_demographic.describe()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
count,10175.000000,10175.0,10175.000000,10175.000000,10175.000000,673.000000,10175.000000,10175.000000,9813.000000,4213.000000,...,9881.000000,10052.000000,5342.000000,10175.000000,10175.000000,10175.000000,10175.000000,10042.000000,10052.000000,9390.000000
mean,78644.000000,8.0,1.964423,1.508305,31.484128,10.341753,3.091892,3.289828,1.508509,107.478519,...,3.502378,2.735078,3.612879,30585.180933,30585.180933,1.484128,110.926880,10.884983,10.505969,2.252153
std,2937.413829,0.0,0.185243,0.499956,24.421651,6.885479,1.263305,1.613241,0.499953,69.774776,...,1.251080,5.922690,1.321508,26948.427403,27941.005388,0.499773,4.260322,13.878864,13.643064,1.634907
min,73557.000000,8.0,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,1.000000,1.000000,1.000000,3697.772098,0.000000,1.000000,104.000000,1.000000,1.000000,0.000000
25%,76100.500000,8.0,2.000000,1.000000,10.000000,5.000000,2.000000,2.000000,1.000000,45.000000,...,3.000000,1.000000,3.000000,12754.485277,12561.598665,1.000000,107.000000,5.000000,5.000000,0.870000
50%,78644.000000,8.0,2.000000,2.000000,26.000000,9.000000,3.000000,3.000000,2.000000,103.000000,...,4.000000,1.000000,4.000000,20232.999616,20174.573544,1.000000,111.000000,8.000000,7.000000,1.705000
75%,81187.500000,8.0,2.000000,2.000000,52.000000,16.000000,4.000000,4.000000,2.000000,166.000000,...,4.000000,4.000000,5.000000,36280.427224,36748.217798,2.000000,115.000000,14.000000,14.000000,3.607500
max,83731.000000,8.0,2.000000,2.000000,80.000000,24.000000,5.000000,7.000000,2.000000,239.000000,...,9.000000,99.000000,9.000000,167884.543709,171395.264901,2.000000,118.000000,99.000000,99.000000,5.000000

In [17]:
df_diet.describe()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
count,9813.000000,9813.000000,8661.000000,9813.000000,8783.000000,8661.000000,8661.000000,8706.000000,8783.000000,8797.000000,...,61.000000,5121.000000,171.000000,5121.000000,27.000000,5121.000000,1318.000000,5121.000000,317.000000,5120.0
mean,78644.559971,31713.463364,35931.672555,1.472027,43.793351,1.984528,1.874495,16.176085,4.501423,1.156303,...,1.557377,1.966608,1.766082,1.994728,2.481481,1.742628,2.622155,1.938098,2.400631,2.0
std,2938.592266,36061.598495,51017.340117,1.260325,20.535725,0.123426,0.331310,11.804355,2.184283,0.555685,...,1.443660,0.179675,1.184814,0.072427,2.651130,0.437229,2.793016,0.241001,2.997953,0.0
min,73557.000000,0.000000,0.000000,1.000000,2.000000,1.000000,1.000000,-31.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.0
25%,76092.000000,8731.762120,7255.716712,1.000000,25.000000,2.000000,2.000000,7.000000,3.000000,1.000000,...,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.0
50%,78643.000000,19276.118837,17874.047830,1.000000,49.000000,2.000000,2.000000,16.000000,5.000000,1.000000,...,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.0
75%,81191.000000,42490.159621,44897.265674,1.000000,59.000000,2.000000,2.000000,23.000000,6.000000,1.000000,...,1.000000,2.000000,2.000000,2.000000,2.500000,2.000000,3.000000,2.000000,2.000000,2.0
max,83731.000000,267526.890966,818626.657231,5.000000,91.000000,2.000000,2.000000,74.000000,7.000000,6.000000,...,10.000000,2.000000,8.000000,2.000000,10.000000,2.000000,30.000000,2.000000,30.000000,2.0

In [18]:
df_examination.describe()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,...,CSXLEAOD,CSXSOAOD,CSXGRAOD,CSXONOD,CSXNGSOD,CSXSLTRT,CSXSLTRG,CSXNART,CSXNARG,CSAEFFRT
count,9813.000000,9813.000000,9508.000000,320.000000,1961.000000,7535.000000,7542.000000,7549.000000,9511.000000,7564.000000,...,3520.000000,3520.000000,3519.000000,3519.000000,3519.000000,1595.000000,1595.000000,1613.000000,1613.000000,3537.000000
mean,78644.559971,1.064914,660.584034,57.828125,105.534931,1.008096,3.675418,74.416214,1.013668,1.004363,...,2.815625,1.145170,2.155726,2.992327,3.751066,55.746708,1.066458,31.526348,1.199008,1.709075
std,2938.592266,0.354007,275.431642,30.788160,21.516295,0.116644,0.786221,12.367969,0.116116,0.065911,...,0.613697,0.548531,0.667754,0.318464,0.693496,24.649127,0.441677,20.925161,0.690739,0.898975
min,73557.000000,1.000000,7.000000,1.000000,60.000000,1.000000,1.000000,40.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000
25%,76092.000000,1.000000,578.000000,56.000000,88.000000,1.000000,3.000000,66.000000,1.000000,1.000000,...,3.000000,1.000000,2.000000,3.000000,4.000000,35.000000,1.000000,16.000000,1.000000,1.000000
50%,78643.000000,1.000000,689.000000,56.000000,102.000000,1.000000,4.000000,74.000000,1.000000,1.000000,...,3.000000,1.000000,2.000000,3.000000,4.000000,53.000000,1.000000,26.000000,1.000000,1.000000
75%,81191.000000,1.000000,832.000000,72.000000,120.000000,1.000000,4.000000,82.000000,1.000000,1.000000,...,3.000000,1.000000,3.000000,3.000000,4.000000,74.000000,1.000000,42.000000,1.000000,2.000000
max,83731.000000,3.000000,2868.000000,122.000000,178.000000,8.000000,5.000000,180.000000,2.000000,2.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,100.000000,5.000000,100.000000,5.000000,5.000000

In [19]:
df_labs.describe()

,SEQN,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,LBXSAL,...,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12,LBDB12SI
count,9813.000000,8052.000000,8052.000000,8052.000000,8052.000000,8052.000000,3329.000000,3145.000000,3145.000000,6553.000000,...,2664.000000,2664.000000,2664.000000,2664.000000,2664.000000,2664.000000,1261.000000,2662.000000,5316.000000,5316.000000
mean,78644.559971,41.218854,41.218854,121.072529,10702.811525,41.905695,78917.195254,85.898569,0.858986,4.282085,...,0.186950,0.007883,0.150535,0.162162,0.012038,0.177177,1.969072,15.670639,640.100263,472.394865
std,2938.592266,238.910226,238.910226,78.574882,6946.019595,276.261093,71088.020067,25.595258,0.255953,0.343649,...,0.133833,0.088452,0.576409,0.368669,0.034026,0.381890,0.251651,46.735936,751.967084,554.951537
min,73557.000000,0.210000,0.210000,5.000000,442.000000,0.210000,0.000000,20.000000,0.200000,2.400000,...,0.013000,0.000000,0.013000,0.000000,0.001400,0.000000,1.000000,0.280000,18.000000,13.300000
25%,76092.000000,4.500000,4.500000,60.000000,5304.000000,5.020000,33217.405018,68.000000,0.680000,4.100000,...,0.090000,0.000000,0.028000,0.000000,0.002600,0.000000,2.000000,3.210000,381.000000,281.200000
50%,78643.000000,8.400000,8.400000,106.000000,9370.400000,7.780000,56397.702304,84.000000,0.840000,4.300000,...,0.159000,0.000000,0.069000,0.000000,0.005100,0.000000,2.000000,6.240000,514.000000,379.300000
75%,81191.000000,17.625000,17.625000,163.000000,14409.200000,15.295000,99356.561999,101.000000,1.010000,4.500000,...,0.252000,0.000000,0.150000,0.000000,0.010700,0.000000,2.000000,12.435000,711.000000,524.700000
max,83731.000000,9600.000000,9600.000000,659.000000,58255.600000,9000.000000,395978.465792,234.000000,2.340000,5.600000,...,1.290000,1.000000,25.760000,1.000000,0.843400,1.000000,3.000000,1071.300000,26801.000000,19779.100000

In [20]:
df_questionnaire.describe()

               SEQN      MCQ160L       MCQ220
count  10175.000000  5769.000000  5769.000000
mean   78644.000000     1.971572     1.905183
std     2937.413829     0.353146     0.292988
min    73557.000000     1.000000     1.000000
25%    76100.500000     2.000000     2.000000
50%    78644.000000     2.000000     2.000000
75%    81187.500000     2.000000     2.000000
max    83731.000000     9.000000     2.000000

<span style="color:orange">2.5- check missing values</span>

In [21]:
df_demographic.isnull().sum()

SEQN           0
SDDSRVYR       0
RIDSTATR       0
RIAGENDR       0
RIDAGEYR       0
RIDAGEMN    9502
RIDRETH1       0
RIDRETH3       0
RIDEXMON     362
RIDEXAGM    5962
DMQMILIZ    3914
DMQADFC     9632
DMDBORN4       0
DMDCITZN       4
DMDYRSUS    8267
DMDEDUC3    7372
DMDEDUC2    4406
DMDMARTL    4406
RIDEXPRG    8866
SIALANG        0
SIAPROXY       1
SIAINTRP       0
FIALANG      121
FIAPROXY     121
FIAINTRP     121
MIALANG     2864
MIAPROXY    2863
MIAINTRP    2862
AIALANGA    3858
DMDHHSIZ       0
DMDFMSIZ       0
DMDHHSZA       0
DMDHHSZB       0
DMDHHSZE       0
DMDHRGND       0
DMDHRAGE       0
DMDHRBR4     297
DMDHREDU     294
DMDHRMAR     123
DMDHSEDU    4833
WTINT2YR       0
WTMEC2YR       0
SDMVPSU        0
SDMVSTRA       0
INDHHIN2     133
INDFMIN2     123
INDFMPIR     785
dtype: int64

In [22]:
# calculate the percentage of missing values in each column
missing_percentage = (df_demographic.isnull().sum()/(len(df_demographic)))*100

SEQN         0.000000
SDDSRVYR     0.000000
RIDSTATR     0.000000
RIAGENDR     0.000000
RIDAGEYR     0.000000
RIDAGEMN    93.385749
RIDRETH1     0.000000
RIDRETH3     0.000000
RIDEXMON     3.557740
RIDEXAGM    58.594595
DMQMILIZ    38.466830
DMQADFC     94.663391
DMDBORN4     0.000000
DMDCITZN     0.039312
DMDYRSUS    81.248157
DMDEDUC3    72.452088
DMDEDUC2    43.302211
DMDMARTL    43.302211
RIDEXPRG    87.135135
SIALANG      0.000000
SIAPROXY     0.009828
SIAINTRP     0.000000
FIALANG      1.189189
FIAPROXY     1.189189
FIAINTRP     1.189189
MIALANG     28.147420
MIAPROXY    28.137592
MIAINTRP    28.127764
AIALANGA    37.916462
DMDHHSIZ     0.000000
DMDFMSIZ     0.000000
DMDHHSZA     0.000000
DMDHHSZB     0.000000
DMDHHSZE     0.000000
DMDHRGND     0.000000
DMDHRAGE     0.000000
DMDHRBR4     2.918919
DMDHREDU     2.889435
DMDHRMAR     1.208845
DMDHSEDU    47.498771
WTINT2YR     0.000000
WTMEC2YR     0.000000
SDMVPSU      0.000000
SDMVSTRA     0.000000
INDHHIN2     1.307125
INDFMIN2     1.208845
INDFMPIR     7.714988
dtype: float64

In [23]:
df_diet.isnull().sum()

SEQN           0
WTDRD1         0
WTDR2D      1152
DR1DRSTZ       0
DR1EXMER    1030
            ...
DRD370T     4692
DRD370TQ    8495
DRD370U     4692
DRD370UQ    9496
DRD370V     4693
Length: 168, dtype: int64

In [24]:
# percentage of missing values in each column
(df_diet.isnull().sum()/(len(df_diet)))*100

SEQN         0.000000
WTDRD1       0.000000
WTDR2D      11.739529
DR1DRSTZ     0.000000
DR1EXMER    10.496280
              ...
DRD370T     47.814124
DRD370TQ    86.568837
DRD370U     47.814124
DRD370UQ    96.769591
DRD370V     47.824315
Length: 168, dtype: float64

In [25]:
df_examination.isnull().sum()

SEQN           0
PEASCST1       0
PEASCTM1     305
PEASCCT1    9493
BPXCHR      7852
            ...
CSXSLTRT    8218
CSXSLTRG    8218
CSXNART     8200
CSXNARG     8200
CSAEFFRT    6276
Length: 224, dtype: int64

In [26]:
(df_examination.isnull().sum()/(len(df_examination)))*100

SEQN         0.000000
PEASCST1     0.000000
PEASCTM1     3.108122
PEASCCT1    96.739020
BPXCHR      80.016305
              ...
CSXSLTRT    83.746051
CSXSLTRG    83.746051
CSXNART     83.562621
CSXNARG     83.562621
CSAEFFRT    63.955977
Length: 224, dtype: float64

In [27]:
df_labs.isnull().sum()

SEQN           0
URXUMA      1761
URXUMS      1761
URXUCR.x    1761
URXCRS      1761
            ...
URDUURLC    7149
URXPREG     8552
URXUAS      7151
LBDB12      4497
LBDB12SI    4497
Length: 424, dtype: int64

In [28]:
(df_labs.isnull().sum()/(len(df_labs)))*100

SEQN         0.000000
URXUMA      17.945582
URXUMS      17.945582
URXUCR.x    17.945582
URXCRS      17.945582
              ...
URDUURLC    72.852339
URXPREG     87.149699
URXUAS      72.872720
LBDB12      45.826964
LBDB12SI    45.826964
Length: 424, dtype: float64

In [29]:
df_questionnaire.isnull().sum()

SEQN          0
MCQ160L    4406
MCQ220     4406
dtype: int64

In [30]:
(df_questionnaire.isnull().sum()/(len(df_questionnaire)))*100

SEQN        0.000000
MCQ160L    43.302211
MCQ220     43.302211
dtype: float64

<span style="color:orange">2.6- check duplicates</span>

In [31]:
df_demographic.nunique()

SEQN        10175
SDDSRVYR        1
RIDSTATR        2
RIAGENDR        2
RIDAGEYR       81
RIDAGEMN       25
RIDRETH1        5
RIDRETH3        6
RIDEXMON        2
RIDEXAGM      240
DMQMILIZ        3
DMQADFC         3
DMDBORN4        4
DMDCITZN        4
DMDYRSUS       11
DMDEDUC3       19
DMDEDUC2        7
DMDMARTL        8
RIDEXPRG        3
SIALANG         2
SIAPROXY        2
SIAINTRP        2
FIALANG         2
FIAPROXY        2
FIAINTRP        2
MIALANG         2
MIAPROXY        2
MIAINTRP        2
AIALANGA        3
DMDHHSIZ        7
DMDFMSIZ        7
DMDHHSZA        4
DMDHHSZB        5
DMDHHSZE        4
DMDHRGND        2
DMDHRAGE       63
DMDHRBR4        3
DMDHREDU        7
DMDHRMAR        8
DMDHSEDU        7
WTINT2YR     7076
WTMEC2YR     8170
SDMVPSU         2
SDMVSTRA       15
INDHHIN2       16
INDFMIN2       16
INDFMPIR      440
dtype: int64

In [32]:
df_diet.nunique()

SEQN        9813
WTDRD1      7931
WTDR2D      7123
DR1DRSTZ       4
DR1EXMER      12
            ...
DRD370T        2
DRD370TQ      17
DRD370U        2
DRD370UQ      15
DRD370V        1
Length: 168, dtype: int64

In [33]:
df_examination.nunique()

SEQN        9813
PEASCST1       3
PEASCTM1    1155
PEASCCT1      12
BPXCHR        58
            ...
CSXSLTRT      98
CSXSLTRG       5
CSXNART       97
CSXNARG        5
CSAEFFRT       5
Length: 224, dtype: int64

In [34]:
df_labs.nunique()

SEQN        9813
URXUMA       628
URXUMS       628
URXUCR.x     408
URXCRS       408
            ...
URDUURLC       2
URXPREG        3
URXUAS      1524
LBDB12      1065
LBDB12SI    1065
Length: 424, dtype: int64

In [35]:
df_questionnaire.nunique()

SEQN       10175
MCQ160L        3
MCQ220         2
dtype: int64