## 1- import and reading data

In [1]:
import sys
sys.path.append('../../../scripts/utilities')
from helper_functions import *
sys.path.append('../../../scripts/data_preprocessing')
from data_transformation import *

In [2]:
base_path = '../../../data/processed_data/'
df = read_files('df_filling_missing_values_with_median_encoded_handle_noisy.csv', base_path=base_path)[0]

## 2- normalize features except labels and id

In [3]:
X=[column for column in df.columns if column not in ['MCQ160L','MCQ220','SEQN']]
df_normalized=normalize_data(df, columns=X, method='minmax')

In [4]:
df_normalized[:5]

,SEQN,RIDSTATR,RIAGENDR,RIDAGEYR,RIDRETH1,RIDRETH3,RIDEXMON,DMQMILIZ,DMDBORN4,DMDCITZN,...,LBXBSE,LBDBSESI,LBXBMN,LBDBMNSI,URXVOL1,URDFLOW1,LBDB12,LBDB12SI,MCQ160L,MCQ220
0,73557,1.0,0.0,0.8625,0.75,0.6,0.0,0.0,0.0,0.0,...,0.154784,0.155340,0.153094,0.153097,0.157609,0.031577,0.018893,0.018891,2.0,2.0
1,73558,1.0,0.0,0.6750,0.50,0.4,0.0,1.0,0.0,0.0,...,0.182886,0.183252,0.120369,0.120369,0.163043,0.062923,0.018258,0.018259,2.0,2.0
2,73559,1.0,0.0,0.9000,0.50,0.4,1.0,0.0,0.0,0.0,...,0.190455,0.190534,0.147075,0.147072,0.119565,0.024885,0.026659,0.026657,2.0,1.0
3,73560,1.0,0.0,0.3250,0.50,0.4,0.0,1.0,0.0,0.0,...,0.129072,0.129854,0.212902,0.212899,0.110507,0.022115,0.018519,0.018517,0.0,0.0
4,73561,1.0,1.0,0.9125,0.50,0.4,0.0,1.0,0.0,0.0,...,0.154784,0.155340,0.153094,0.153097,0.009058,0.004192,0.007729,0.007731,2.0,2.0

## 3- save after normalizing

In [5]:
save_files([df_normalized], 'df_filling_missing_values_with_median_encoded_handle_noisy_normalized.csv', base_path='../../../data/processed_data/')